// 颜色定义规范
$color-border = #ccc
$color-border-green = #00cca8
$color-line = #c4c4c4

$color-background = #f5f5f5
$color-background-d = #e5e5e5
$mask = rgba(0, 0, 0, 0.4)

$color-tag1 = #00cca8
$color-tag2 = #00ccc0
$color-tag3 = #00c5cc
$color-tag4 = #00c0cc
$color-tag5 = #00bbcc

$color-text = #fff
$color-text-l = #8d8d8d
$color-text-m = #565656
$color-text-d = #3f3f3f

$linear-gradient = linear-gradient(to right, #00cca1, #00a8cc)

// 圆角定义规范
$border-radius-s = 0.02rem
$border-radius-m = 0.04rem

// 字体定义规范
$font-size-smallest = 0.18rem
$font-size-small-s = 0.2rem
$font-size-small = 0.22rem
$font-size-medium = 0.24rem
$font-size-medium-x = 0.26rem
$font-size-large = 0.28rem
$font-size-large-x = 0.3rem
$font-size-largest = 0.32rem
